.header {
    height: 10rem;
    padding: 3rem;
    max-height: 12rem;
    width: 100vw;
    color: #540D6E;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding-left: 4rem;
    padding-right: 4rem;
}
.a {
    text-decoration: none;
    color: #540D6E;
}

.dropdown_container {


}